about-time==4.2.1
absl-py==2.1.0
alive-progress==3.1.5
autograd==1.6.2
cma==3.2.2
contourpy==1.2.0
cycler==0.12.1
Deprecated==1.2.14
dill==0.3.8
fonttools==4.47.2
future==0.18.3
grapheme==0.6.0
importlib-resources==6.1.1
kiwisolver==1.4.5
matplotlib==3.8.2
numpy==1.26.3
packaging==23.2
pillow==10.2.0
protobuf==4.25.2
ptflops==0.7.2.2
pymoo==0.6.1.1
pyparsing==3.1.1
python-dateutil==2.8.2
scipy==1.12.0
six==1.16.0
tensorboardX==2.6.2.2
torch==1.9.1+cu111
torchaudio==0.9.1
torchvision==0.10.1+cu111
tqdm==4.66.1
typing_extensions==4.9.0
wrapt==1.16.0
zipp==3.17.0
